{% graphql t = "modules/shippo/get_transactions" %}
{% for transaction in t.customizations.results %}
  <p>
  {{ transaction.tracking_number }}
  {{ transaction.tracking_status }}
  <a href="{{ transaction.label_url }}">Print Label</a>
  {% if transaction.commercial_invoice_url %}
    <a href="{{ transaction.commercial_invoice_url }}" target="_blank" class="link">
      Print commercial invoice
    </a>
  {% endif %}
  </p>
{% endfor %}
